/* line 1, ../sass/forgotClientId.scss */
body {
  background: transparent;
}

/* line 5, ../sass/forgotClientId.scss */
.modal-title {
  color: #fff;
}

/* line 9, ../sass/forgotClientId.scss */
.modal-footer {
  text-align: left;
}

/* line 13, ../sass/forgotClientId.scss */
.modal-footer a:hover,
.modal-footer a:visited,
.modal-footer a {
  color: #9298a6;
  text-decoration: none;
}

/* line 20, ../sass/forgotClientId.scss */
.login-button {
  margin-top: 60px;
  padding: 0 43px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  width: 100%;
}

/* line 33, ../sass/forgotClientId.scss */
.login-button:hover {
  background-color: #32af3d;
  color: #fff;
}

/* line 38, ../sass/forgotClientId.scss */
.modal-content {
  border-radius: 0px;
  width: 320px;
  background-color: #1e2738;
}

/* line 44, ../sass/forgotClientId.scss */
.modal-body:after {
  display: table;
  clear: both;
  content: "";
}

/* line 50, ../sass/forgotClientId.scss */
.modal-header {
  border-bottom: none;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* line 57, ../sass/forgotClientId.scss */
.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  color: #686f82;
}

/* line 65, ../sass/forgotClientId.scss */
.modal-body p {
  line-height: 2;
  font-weight: bold;
}

/* line 70, ../sass/forgotClientId.scss */
.modal-footer {
  padding-left: 30px;
  font-size: 12px;
  background-color: #293243;
  color: #686f82;
  border-top: none;
  font-weight: bold;
}

/* line 79, ../sass/forgotClientId.scss */
.modal-footer span {
  display: block;
}

/* line 83, ../sass/forgotClientId.scss */
.modal-header .close {
  color: #717885;
  text-shadow: none;
  opacity: 1;
  float: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
