.help-block .user-email{
    display: block;
    color: #b9bcc5;
}

.help-block a {
    margin-top: 0;
}

.check-ok{
    margin-top: -17px;
    margin-bottom: 29px;
    padding: 18px;
    border-radius: 35px;
    background-color: #2fa73b;
    color: #fff;
    font-size: 34px;
}

.modal-header {
    text-align: center;
}

.modal-header .modal-title{
    text-align: left;
}