body {
    background: transparent;
}

.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.modal-dialog {
    width: 320px;
}

.modal-content {
    border-radius: 0px;
    width: 320px;
    background-color: #1e2738;
}

.modal-header {
    border-bottom: none;
    padding-left: 30px;
    padding-top: 46px;
    padding-bottom: 5px;
}

.modal-header .close {
    color: #717885;
    text-shadow: none;
    opacity: 1;
    float: none;
    position: absolute;
    right: 7px;
    top: 3px;
    font-size: 34px;
    font-weight: 400;
}

.modal-title {
    color: #fff;
    font-weight: 700;
}

.modal-body a:hover,
.modal-body a:visited,
.modal-body a,
.modal-footer a:hover,
.modal-footer a:visited,
.modal-footer a {
    display: block;
    color: #9298a6;
    text-decoration: underline;
}

.modal-body:after {
    display: table;
    clear: both;
    content: "";
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #686f82;
    font-weight: 700;
}

.modal-body p {
    line-height: 2;
}

.modal-footer {
    text-align:left;
    padding-left: 30px;
    font-size: 13px;
    background-color: #293243;
    color: #686f82;
    border-top: none;
    font-weight: bold;
}

.modal-footer span {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 40px;
    background-color: #0b1423;
    border-color: #3d4657;
    border-radius: 0;
}

.form-control:focus {
    border-color: #677081;
    box-shadow: none;
}

.form-control.invalid{
    border-color: #af2727;
}

.modal-body .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #2fa73b;
    border-radius: 0;
    border-color: #2fa73b;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.modal-body .btn:hover,
.modal-body .btn:focus {
    background-color: #2fa73b;
    color: #fff;
    text-decoration: none;
}

.modal-body .help-block {
    margin-top: -2px;
    margin-bottom: 19px;
    line-height: 23px;
    color: #686f82;
}

.modal-body a {
    margin-top: 16px; 
}

.modal-body .help-block{
    margin-bottom: 62px;
}