body {
    background: transparent;
}

.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-content {
    width: 100%;
    height: 100%;
    background-color: #1e2738;
}

.modal-header {
    border-bottom: none;
    padding-left: 30px;
    padding-top: 46px;
    padding-bottom: 5px;
}

.modal-header .close {
    color: #717885;
    text-shadow: none;
    opacity: 1;
    float: none;
    position: absolute;
    right: 11px;
    top: 3px;
    font-size: 46px;
    font-weight: 400;
}

.modal-title {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.modal-footer {
    text-align:left;
}

.modal-body a:hover,
.modal-body a:visited,
.modal-body a,
.modal-footer a:hover,
.modal-footer a:visited,
.modal-footer a {
    display: block;
    color: #b9bcc5;
    text-decoration: underline;
}

.modal-body:after {
    display: table;
    clear: both;
    content: "";
}

.modal-body {
    padding: 10px 30px 50px;
    font-size: 15px;/*different from desktop*/
    color: #9298a6;/*different from desktop*/
    font-weight: 400;/*different from desktop*/
}

.modal-body p {
    line-height: 2;
}

.modal-footer {
    padding: 25px 30px 23px; 
    padding-left: 30px;
    font-size: 15px;
    background-color: #293243;
    color: #9298a6;;
    border-top: none;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal-footer span {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label{
    margin-bottom: 15px;
    font-weight: 400;
}

.form-control {
    height: 40px;
    background-color: #0b1423;
    border-color: #3d4657;
    border-radius: 0;
    font-size: 13px;
    color: #babdc4;
}

.form-control:focus {
    border-color: #677081;
    box-shadow: none;
}

.form-control.validation{
    border-color: #af2727;
}

.modal-body .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #2fa73b;
    border-radius: 0;
    border-color: #2fa73b;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.modal-body .btn:hover,
.modal-body .btn:focus {
    outline-color: #2fa73b;
    background-color: #2fa73b;
    color: #fff;
    text-decoration: none;
}

.modal-body .help-block {
    margin-top: -2px;
    margin-bottom: 29px;
    line-height: 23px;
    color: #9298a6;
}

.modal-body a {
    margin-top: 25px; 
    font-size: 14px;
}

/*
validation style
*/
.popover {
    width: 100% !important;
    border: 0;
    background-color: #af2727;
    border-radius: 0;
    box-shadow: 0;
    color: #fff;
    margin-top: -51px !important;
}

.popover.bottom > .arrow {
    border-bottom-color: transparent; 
}

.popover > .arrow::after {
    margin-left: -7px !important;
    border-bottom-color: #af2727 !important;
    border-width: 10px 7px;
}

.popover-content {
    width: 100% !important;
    padding: 9px 21px;
}