body {
    background: transparent;
}

.modal-title {
    color: #fff;
}

.modal-footer {
    text-align:left;
}

.modal-footer a:hover,
.modal-footer a:visited,
.modal-footer a {
    color: #9298a6;
    text-decoration:none;
}

.login-button {
    margin-top: 60px;
    padding: 0 43px;
    line-height: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    width: 100%;
}

.login-button:hover {
    background-color: #32af3d;
    color: #fff;
}

.modal-content {
    border-radius: 0px;
    width: 320px;
    background-color: #1e2738;
}

.modal-body:after {
    display: table;
    clear: both;
    content: "";
}

.modal-header {
    border-bottom: none;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    color: #686f82;
}

.modal-body p {
    line-height: 2;
    font-weight: bold;
}

.modal-footer {
    padding-left: 30px;
    font-size: 12px;
    background-color: #293243;
    color: #686f82;
    border-top: none;
    font-weight: bold;
}

.modal-footer span {
    display: block;
}

.modal-header .close {
    color: #717885;
    text-shadow: none;
    opacity: 1;
    float: none;
    position: absolute;
    right: 10px;
    top: 10px;
}